

.centraliza {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titulo {
    font-size: 40px;
}

.botaoadd {

    width: 100px;
    height: 37px;
    border-radius: 10px;

}

.input {
    width: 140px;
    height: 23px;
    border-radius: 7px;
}

.botaoremover {
    width: 100px;
    height: 37px;
    border-radius: 10px;
}

